#nevcedula{
  border-bottom: 0px;
}

.bar{
  background-color: #2f3b35;
}

.icon{
  font-weight: bold;
}

.content{
background-color: #f8d39f;
}

.title{
  font-size: 2em;
  color: white;
}
